@model IEnumerable<Booking.Models.Restaurant>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var restaurant in Model)
    {
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="./images/RestaurantLogo.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Restauracja</h5>
                    <p class="card-text">
                        @restaurant.Street @restaurant.NumberOfBuilding <br>
                        @restaurant.PostalCode @restaurant.City
                    </p>
                    <p>Ilość wolnych stolików: @restaurant.Tables.Count()</p>
                    <a asp-action="GetTables" asp-controller="Table" asp-route-Id="@restaurant.Id" class="btn btn-primary">Rezerwuj stolik</a>
                </div>
            </div>
        </div>
    }
</div>